<!DOCTYPE html>
<html>
<head>
	<title>Start Up Page</title>
	<!-- <link rel="stylesheet" type="text/css" href="css/all.min.css"> -->
	<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="wrapper">
	<!--header section-->
	<section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="./image/logo_apple.png" alt="image"><span class="company-name"><b>Hii</b></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a href="#about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a href="#team"><i class="fa fa-user"></i> TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a href="#work"><i class="fa fa-th"></i> WORKING</a>
                    </li>
                    <li class="nav-item">
                        <a href="#price"><i class="fa fa-rupee-sign"></i> PRICING</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact"><i class="fa fa-envelope"></i> CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

	<!---banner --->
	<div id="banner">
        <div id="text">
            <p class="head">Start something that matters</p>
            <p class="bottom">Stop wasting valuable time with projects that just isn't you.</p>
            <a href="#">Learn more and start today</a>
        </div>
        <div id="banner_social">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://snapchat.com" target="_blank"><i class="fab fa-snapchat "></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter "></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
	<!---About Section--->
	<div id="about">
		<div id="about-head"> 
			<h3>ABOUT THE COMPANY</h3>
			<p>Key features of our company</p>
		</div>
		<div id="company " class="row ">
			<div id="first-col" class="col-md-3 col-12">
				<div class="icon"><i class="fa fa-desktop fa-5x"></i></div>
      			<p>Responsive</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</div>
			<div id="second-col" class="col-md-3 col-12">
				<div class="icon"><i class="fa fa-heart fa-5x"></i></div>
      			<p>Passion</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</div >
			<div id="third-col" class="col-md-3 col-12">
				<div class="icon"><i class="far fa-gem fa-5x"></i></div>
      			<p>Design</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</div>
			<div id="four-col" class="col-md-3 col-12">
				<div class="icon"><i class="fa fa-cog fa-5x"></i></div>
      			<p>Support</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</div>
		</div>
	</div>
	<!---we design---->
	<div id="promo" class="row">
		<div class="col-md-6 col-12" id="right">
	  <h3>We know design.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore.</p>
      <p class="promo-text"><a href="#" id="promo-link"><i class="fa fa-th"> </i> View Our Works</a></p>
		</div>
		<div class="col-md-6 col-12" >
			<img src="image/mobile.png" style="border-radius: 15%;">
		</div>
	</div>
	<!---Team Section--->
	
	<div id="team" class="container">
		<div id="team-head"> 
			<h3>THE TEAM</h3>
			<p>The ones who runs this company</p>
		</div>
		<div id="team-img" class="row">
			<div id="member-first" class="col-md-3 col-12">
				<img src="image/user_3.png">
				<h3>John Doe</h3>
          		<p >CEO & Founder</p>
          		<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
				<a href="#"><i class="fa fa-envelope"></i> Contact</a>
			</div>
			<div id="member-second" class="col-md-3 col-12">
				<img src="image/user_1.jpg">
				<h3>Beautiful</h3>
          		<p>Art Director</p>
          		<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
				<a href="#"><i class="fa fa-envelope"></i> Contact</a>
			</div >
			<div id="member-third" class="col-md-3 col-12">
				<img src="image/user_5.png">
				<h3>Mike Ross</h3>
          		<p>Web Designer</p>
          		<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
				<a href="#"><i class="fa fa-envelope"></i> Contact</a>
			</div>
			<div id="member-four" class="col-md-3 col-12">
				<img src="image/user_2.jpg">
				<h3>Anja Doe</h3>
         		<p>Designer</p>
          		<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
				<a href="#"><i class="fa fa-envelope"></i> Contact</a>
			</div>
		</div>
	</div>
	<!---stat--->
	<div class="row " id="stat">
		<div id="stat1" class="col-md-3 col-12">
			<p>14+<br>
			Partners</p>
		</div>
		<div id="stat2" class="col-md-3 col-12">
			<p>55+<br>
			Project Done</p>
		</div>
		<div id="stat3" class="col-md-3 col-12">
			<p>100+<br>
			Happy Cleints</p>
		</div>
		<div id="stat4" class="col-md-3 col-12">
			<p>287+	<br>Meeting</p>
		</div>
	</div>
	<!---Work Section--->
	<div id="work" class="container">
		<div id="work-head"> 
			<h3>OUR WORK</h3>
			<p>What we've done for people</p>
		</div>
		<div id="row1" class="row">
			<div  class="col-md-3 col-12">
				<img src="image/camera.jpg" class="blur">
			</div>
			<div  class="col-md-3 col-12">
				<img src="image/drone.jpg" class="blur">
			</div >
			<div  class="col-md-3 col-12">
				<img src="image/microphone.jpg" class="blur">
			</div>
			<div  class="col-md-3 col-12">
				<img src="image/mobile_phone.jpg" class="blur">
			</div>
		</div>
		<div id="row2" class="row arow">
			<div  class="col-md-3 col-12">
				<img src="image/mobile_phone.jpg" class="blur">
			</div>
			<div  class="col-md-3 col-12">
				<img src="image/photographer.jpg" class="blur">
			</div >
			<div class="col-md-3 col-12">
				<img src="image/keyboard.jpg" class="blur">
			</div>
			<div  class="col-md-3 col-12">
				<img src="image/drone.jpg" class="blur">
			</div>
		</div>
	</div>
	<!---Skills Section--->
	<div id="skill">
		<div class="row">
			<div class="col-md-6 col-12 skill-text">
				<h3 style="font-family: arial">Our Skills.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore.
				<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore.
				</p>
			</div>
			<div class="col-md-6 col-12" id="percent">
				<p><i class="fas fa-camera"></i> Photography</p>
				<p  class="back"><span style="width:90%" class="perc">90%</span></p>
				<p><i class="fas fa-desktop" ></i> Web Design</p>
				<p  class="back"><span style="width:80%" class="perc">80%</span></p>
				<p><i class="far fa-image"></i> Photoshop</p>
				<p class="back"><span style="width:60% " class="perc">60%</span></p>
			</div>
		</div>
	</div>
	<!---price section---->
	<div id="price" >
		<div id="price-head"> 
			<h3>PRICING</h3>
			<p>Choose a pricing plan that fits your needs</p>
		</div>
		<div id="" class="row">
			<div class="col-md-4 col-12 price-col">
				
          		<ul class="price-basic">
          			<li><h3>Basic</h3></li>
          			<li><p><b>10GB</b> Storage</p></li><hr>
          			<li><p><b>10</b> Emails</p></li><hr>
          			<li><p><b>10</b> Domains</p></li><hr>
          			<li><p><b>Endless</b> Support</p></li><hr>
          			<li><h4>$ 10</h4></li>
          			<li><p>per Month</p></li><hr>
          			<li><p><button onclick="alert('Hello User')">Sign Up</button></p></li><br>
          		</ul>	
			</div>
			<div class="col-md-4 col-12 price-col">
				
          		<ul class="price-basic middle">
          			<li><h3 >Pro</h3></li>
          			<li><p><b>25GB</b> Storage</p></li><hr>
          			<li><p><b>25</b> Emails</p></li><hr>
          			<li><p><b>25</b> Domains</p></li><hr>
          			<li><p><b>Endless</b> Support</p></li><hr>
          			<li><h4>$ 25</h4></li>
          			<li><p>per Month</p></li><hr>
          			<li><p><button onclick="alert('Hello User')">Sign Up</button></p></li><br>
          		</ul>
			</div>
			<div class="col-md-4 col-12 price-col">
				
          		<ul class="price-basic">
          			<li><h3>Permium</h3></li>
          			<li><p><b>50GB</b> Storage</p></li><hr>
          			<li><p><b>50</b> Emails</p></li><hr>
          			<li><p><b>50</b> Domains</p></li><hr>
          			<li><p><b>Endless</b> Support</p></li><hr>
          			<li><h4>$ 50</h4></li>
          			<li><p>per Month</p></li><hr>
          			<li><p><button onclick="alert('Hello User')">Sign Up</button></p></li><br>
          		</ul>
			</div>
		</div>
	</div>
	<!---Contact Section--->
	<div id="contact" style="background-color: rgb(241,241,241);">
		<div id="contact-head"> 
			<h3>CONTACT</h3>
			<p>Lets get in touch. Send us a message</p>
		</div>
		<div id="">
		<p style="font-size: 20px; padding-left: 40px"><i class="fas fa-map-marker-alt"> </i>  Mumbai,IN</p>
    	<p style="font-size: 20px; padding-left: 40px"><i class="fa fa-phone fa-fw"></i> Phone: +91 9819123456</p>
    	<p style="font-size: 20px; padding-left: 40px"><i class="fa fa-envelope fa-fw "> </i> Email: gspatel611999@gmail.com</p>
    	<br>
    	<form action="./send" target="_blank" style="padding:0px 40px" method="post">
      	<p><input  type="text" placeholder="Name" required name="name" ></p>
      	<p><input  type="email" placeholder="Email" required name="email"></p>
      	<p><input  type="text" placeholder="Subject" required name="subject"></p>
      	<p><input  type="text" placeholder="Message" required name="message"></p>
      	<br>
      	<p>
        <button type="submit" class="send-button">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      	</p>
    	</form>
    	<br>
    	<img src="image/city_map.png" style="width:100%; ">
		</div>
	</div>
	<!----footer--->
	<div id="footer">
	<p><span class="last"><a href="#header"><i class="fa fa-arrow-up"></i> To the top</a></span><p>
  	<div id="social-footer">
		<a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
		<a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
		<a href="https://snapchat.com" target="_blank"><i class="fab fa-snapchat "></i></a>
		<a href="https://twitter.com" target="_blank"><i class="fab fa-twitter "></i></a>
		<a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
  	</div>
  	<p style="text-align: center; color: white; margin: 20px; padding-bottom: 20px;">Powered by Govinda</p>
	</div>
</div>
</body>
</html>